<root>
    <build>
        <start></start>
        <inject>
            <include>*</include>
        </inject>
        <handlers>LiveSharp.XamarinFormsViewHandler,LiveSharp.XamarinFormsViewModelHandler</handlers>
    </build>
    <runtime>
        <pageHotReloadMethod>Build</pageHotReloadMethod>
    </runtime>
</root>